{% extends 'contacts/base.html' %}

{% block title %}Add Contact{% endblock %}
{% load custom_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">New Contact</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ contact_form.name.label_tag }}
                    {{ contact_form.name|add_class:"form-control" }}
                </div>
                <div id="phoneFields">
                    {{ phone_formset.management_form }}
                    {% for form in phone_formset %}
                        <div class="phone-field border p-3 mb-3 rounded">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="form-group">
                                {{ form.number.label_tag }}
                                {{ form.number|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.country_code.label_tag }}
                                {{ form.country_code|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.address.label_tag }}
                                {{ form.address|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email|add_class:"form-control" }}
                            </div>
                            <div class="form-group">
                                {{ form.gender.label_tag }}
                                {{ form.gender|add_class:"form-control" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="additionalPhoneFields">
                    {{ additional_phone_formset.management_form }}
                </div>
                <button type="button" id="addAdditionalPhoneField" class="btn btn-outline-primary mb-3">Add Additional Phone Number</button>
                <hr>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <a href="{% url 'contact_list' %}" class="btn btn-secondary mt-3">Back to Contact List</a>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('addAdditionalPhoneField').addEventListener('click', function() {
        var additionalPhoneFields = document.getElementById('additionalPhoneFields');
        var newAdditionalFormField = `
            <div class="additional-phone-field border p-3 mb-3 rounded">
                <input type="text" name="additional_phone_numbers-${Date.now()}-additional_number" class="form-control">
            </div>`;

        additionalPhoneFields.insertAdjacentHTML('beforeend', newAdditionalFormField);
    });
});
</script>
{% endblock %}
